.gridWrapper > div {
  position: relative;
}

.gridWrapper .grid {
  border: 1px solid var(--neutral);
  border-collapse: separate;
  border-spacing: 0;
}

.grid td {
  border: 1px solid var(--neutral);
}
