.consoleLayer {
  background-color: white;
  border-left: var(--border);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transition: width 1s;
  width: var(--header-height);
  z-index: 2;
}

.consoleLayer.open {
  width: 50vw;
}

.consoleHeader {
  align-items: center;
  background-color: var(--blue);
  border-bottom: var(--border);
  color: white;
  display: flex;
  height: var(--header-height);
}

.consoleHeader h2 {
  padding: 24px;
}

.consoleContent {
  font-family: "Courier New", Courier, monospace;
  padding: 24px;
}

.openBtn {
  background: transparent;
  border: 0;
  color: white;
  height: var(--header-height);
  width: var(--header-height);
}

.openBtn:hover::after {
  content: "\27AE";
  cursor: pointer;
  display: block;
  font-size: 32px;
  line-height: 1;
  transform: rotate(180deg);
}

.closeBtn {
  background-color: inherit;
  border: 0;
  color: white;
  cursor: pointer;
  margin-left: auto;
  padding: 8px 16px;
}

.closeBtn::after {
  content: "\2715";
  font-size: 24px;
}
