.colorControls {
  border: 0;
  margin: 0;
  padding: 0;
}

.colorControlRow {
  display: flex;
}

.colorControlItem {
  z-index: 0;
}

.colorControlItem input {
  opacity: 0;
}

.colorSwatch {
  display: inline-block;
  height: 60px;
  width: 100%;
}

.colorControlItem input:checked + label .colorSwatch {
  box-shadow: 0 0 4px blue;
  z-index: 1;
}
