main {
  display: grid;
  grid-template-areas:
    "header header"
    "grid controls";
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100vw;
  z-index: 0;
}

header {
  padding: 12px 48px;
}
