.main {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.header {
  align-items: baseline;
  border-bottom: 1px solid light-dark(black, white);
  display: flex;
  padding: 1em 2em;
}

.headerToggle {
  margin-left: auto;
}

.content {
  display: grid;
  flex-grow: 1;
  grid-template-areas: "grid sidebar";
  grid-template-columns: 1fr 400px;
}

.grid {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  grid-area: grid;
  justify-content: center;
  position: relative;
}

.sidebar {
  grid-area: sidebar;
  padding: 2em;
}

.sidebar h2 {
  margin-bottom: 1rem;
}

.footer {
  font-size: 12px;
  padding: 1em 2em;
  text-align: center;
}

.separator {
  margin: 0 6px;
}
