.gridContainer {
  grid-area: grid;
  margin: 24px 24px 24px 48px;
}

.gridControls {
  display: flex;
  justify-content: space-between;
}

.gridControls label {
  flex: 1;
}

.gridControls input {
  width: 100%;
}

.gridWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.gridWrapper .grid {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

.grid td {
  border: 1px solid lightgray;
}
